body {
  margin: 0;
}
.resize-wrapper {
  max-width: 1600px;
  padding-inline: 20px;
  margin-inline: auto;
}
.resize-inner-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
video {
  width: 100%;
}
.title {
  font-size: 24px;
  font-family: roboto;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 1024px) {
  .resize-inner-wrapper {
    display: block;
  }
}
